.h5-pinDistance {
    color: slateblue;
}

.filtercard-header {
    display: flex;
    justify-content: space-between;
}

.rate-card {
    width: 100%;
}

.useraddress {
    background-color: teal;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin: 0;
}