.comment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: coral;

  .average {
    padding: 10px;
  }
}

.new-btn {
  background-color: white;
  padding: 7px;
  color: coral;
  border-radius: 3px;
  margin: 10px 0;
  &:hover {
    color: coral;
    padding: 9px;
  }
}

.single-comment {
  margin: 10px;
  width: 90%;
  height: fit-content;
  padding: 10px;
  background-color: white;
}

.single-noComment {
  margin: 10px;
  width: 90%;
  height: fit-content;
  padding: 10px;
  color: white;
}

#star-average {
  width: 50px;
  height: 50px;
  align-content: flex-start;
  padding-bottom: 5px;
}

#star-empty {
  color: white;
  width: 50px;
  height: 50px;
  align-content: flex-start;
  padding-bottom: 5px;
}

.average {
  width: 100%;
  background-color: teal;
  color: white;
}

#average-div {
  margin: 0;
}

#updateInput {
  width: 100%;
  background-color: white;
  color: rgb(27, 27, 27);
  border-bottom: rgb(27, 27, 27) solid 1px;
}