.filter-sidebar {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: coral;

  @media screen and (min-width: 600px) {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.filter-btn {
  text-align: left;
  background-color: coral;
  list-style: none;
  text-decoration: none;
  border: none;
  padding: 5px 0;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px 20px;
  font-size: 1.2rem;
  @media screen and (min-width: 600px) {
    &:hover {
      font-weight: 600;
      font-size: 1.3rem;
      color: white;
    }
  }
}

#filter {
  color: white;
}
